.title {
    text-align: center;
    font-size: 6vw;
    letter-spacing: 5px;
    margin-top: 4%;
    color: #251a01b4;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  }

  #subtitle {
    text-align: center;
    letter-spacing: 1px;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    font-family: 'Exo';
    font-size:4vw;
  }
