.articleImage {
    padding: 50px 500px ;
}

.onlyBody {
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;

}

.article {
    border-collapse: collapse;
    border: cadetblue;
    border-style: solid;
    border-radius: 0%;
}
